[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "*"
python-ldap = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
funcparserlib = "*"

[requires]
python_version = "3"
